from flask import Flask
from flask import render_template
from flask import url_for
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine,text

app = Flask(__name__)

db_host = "{{db_container}}"
db_user = "{{student_prefix}}"
db_password = "0123456"
db_port = 3306
# MySQL URI format: mysql://username:password@server:port/db_name
db_uri = f"mysql://flask:{db_password}@{db_host}:{db_port}/mydb"
db_uri_str = f"mysql://flask@{db_host}:{db_port}/mydb"

app.config['SQLALCHEMY_DATABASE_URI'] = db_uri
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

@app.route("/", methods=['GET'])
def test():
    error = None
    mysql_result = False
    
    try:
        engine = create_engine(db_uri)
        query = text('SELECT 1')
        with engine.connect() as connection:
            result = connection.execute(query)

        if [row[0] for row in result][0] == 1:
            mysql_result = True
    except Exception as exc:
        error = str(exc).replace("\n", "")
        mysql_result = False
        pass

    context = {
    	"result": None,
    	"student_name": "{{student_name}}",
    	"color": "red",
    	"db_uri": db_uri_str,
	"user": db_user,
    	"height": "430px",
	"course": "2024/2025"
    }

    if mysql_result:
        context["color"] = 'green'
        context["result"] = 'OK'
    else:
        context["height"] = "500px"
        context["result"] = 'FAILED ('+error+')'

    # Return the page with the result
    return render_template("index.html", **context)

if __name__ == '__main__':
    app.run()
